/* * {
    margin: 0;
    padding: 0;
} */


a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    max-width: 20%;
}

#SnakeTitle {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #333;
}

#snakeGameContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom:  200px; */
    /* padding-left: 17%; */
}

#moveSnake {
    justify-content:  center;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--cell-size), minmax(0, 1fr));
    grid-auto-rows: minmax(0, 1rf);
    width: 80vmin;
    height: 80vmin;
    border: 2px solid #333;
    background-color: #333;
}

.rows {
    display: flex;
}

.boardBlock {
    flex: 1 1 calc(25% - 20px);
    border: 1px solid rgba(185, 184, 184, 0.142);
    /* box-sizing: border-box; */
    aspect-ratio: 1 / 1;
    background-color: #333;
    /* min-width: 20px; */
}

/* snake */
.snake {
    background-color: green;
}
.snakeHead {
    background-color: darkgreen;
    border-radius: 10px 10px 0 0 ;
}
.UP {
    transform: rotate(0deg);
}
.DOWN {
    transform: rotate(180deg);
}
.LEFT {
    transform: rotate(-90deg);
}
.RIGHT {
    transform: rotate(90deg);
}

/* food */
.food {
    background-color: rgba(255, 40, 40, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.food::before {
    /* position: absolute; */
    content: '\1f423';
    font-size: 16px;
    line-height: 1;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .food {
    width: fit-content;
}


.nowScore {
    font-size: 1.5em;
}


@media (max-width: 600px) {
    .food::before {
        font-size: 10px;
    }
}