/* ゲームメニュー */
#startMenu {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#startMenu h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.game-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin: 15px auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition:  background-color 0.3s, boxshadow 0.3s;
}

.game-label:hover {
    background-color: #f1f1f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* アイコン */
.game-label img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/* ゲーム名 */
.game-label span {
    flex-grow: 1;
    text-align: center;
    font-size: 1.2em;
    color: #555;
}


/* 吹き出し */
.game-label .tooltip {
    visibility: hidden;
    width: 500px;
    line-height: 2;
    background-color: #333;
    color: #fff;
    /* text-align: center; */
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 110%;  /* Tooltipの位置 */
    left: 20%;
    margin-left: -100px;
    /* transform: translateX(-50%); */
    opacity: 0;
    transition: opacity 0.5s;
}


.game-label .tooltip::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 48%;
    /* margin-left: -5px; */
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent  #333 transparent;
}

.game-label:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.gameoverStrong {
    color: red;
}
