body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vw;
  background-color: #f4f4f4;

}

.App h1{
  text-align: center;
  padding: 0;
  /* margin: 100px; */
  /* max-width: 20%; */
}

/* ボタン */
.decided {
    /* display: inline-block; */
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    /* border: none; */
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    cursor: pointer;
  }
.decided:active {
    /*ボタンを押したとき*/
    /* -webkit-transform: translateY(4px); */
    transform: translateY(2px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}